{% extends "base.html" %}
{% load static %}

{% block title %}Administración - Refugio Dhermes{% endblock %}

{% block content %}
<div>
    <h2 class="my-4">Lista de Perritos</h2>
    <div class="table_collapse">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Tamaño</th>
                <th>Energia</th>
                <th>Descripción</th>
                <th>Modificar</th>
                <th>Eliminar perrito</th>
            </tr>
            </thead>
            <tbody>
                {% for perrito in perritos %}
                <tr>
                    <form action="{% url 'editar_perrito'  perrito.id %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <td>
                            {% if perrito.imagen %}
                            <img src="{{ perrito.imagen.url }}" alt="Imagen de {{ perrito.nombre }}" class="img_thumbnail"
                                 id="imagen-preview-{{ perrito.id }}">
                            {% else %}
                            <img src="" alt="Imagen de {{ perrito.nombre }}" class="img-thumbnail"
                                style="width: 100px; height: auto;" id="imagen-preview-{{ perrito.id }}">
                            {% endif %}
                            <input type="file" name="imagen" class="form-control file mt-2" accept="image/*"
                                onchange="onFileSelected(event, '{{ perrito.id }}')">
                        </td>
                        <td><input type="text" name="nombre" value="{{ perrito.nombre }}" class="form-control"></td>
                        <td><input type="number" name="edad" value="{{ perrito.edad }}" class="form-control"></td>
                        <td>
                            <select name="tamano" class="form-control" required>
                                <option value="pequeño" {% if perrito.tamano == "Pequeño" %}selected{% endif %}>Pequeño
                                </option>
                                <option value="mediano" {% if perrito.tamano == "Mediano" %}selected{% endif %}>Mediano
                                </option>
                                <option value="grande" {% if perrito.tamano == "Grande" %}selected{% endif %}>Grande</option>
                            </select>
                        </td>
                        <td>
                            <select name="nivel_energia" class="form-control" required>
                                <option value="baja" {% if perrito.nivel_energia == "Bajo" %}selected{% endif %}>Bajo</option>
                                <option value="alta" {% if perrito.nivel_energia == "Alto" %}selected{% endif %}>Alto</option>
                            </select>
                        </td>
                        <td>
                            <textarea class="form-control" id="input_descripcion" rows="3" name="descripcion" cols="">
                                {{ perrito.descripcion }}
                            </textarea>
                        </td>
                        <td><button type="submit" class="btn btn-primary">Modificar</button></td>
                    </form>
    
                    <td><a href="{% url 'eliminar_perrito'  perrito.id %}" class="btn btn-danger">Eliminar </a></td>
    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" style="text-align: center;">No hay perritos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h3 class="my-4">Agregar Nuevo Perrito</h3>
    {% include "form_body.html" %}
</div>
<script>
    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("imagen-preview-" + event.target.id.split('-').pop());
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
    }
</script>
{% endblock %}