{% extends "base.html" %}
{% load static %}

{% block title %}Administración - Refugio Dhermes{% endblock %}

{% block content %}
<div>
    <h2 class="my-4">Lista de Perritos</h2>
    <form method="get" action="{% url 'administracion' %}" class="mb-3">
        <div class="input-group">
            <input type="text" name="buscar" class="form-control" placeholder="Buscar por nombre" value="{{ request.GET.buscar }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    {% if unico_perrito %}
    <!-- Mostrar solo el perrito filtrado -->
    <div class="table_collapse">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Tamaño</th>
                    <th>Energía</th>
                    <th>Adopción Doble</th>
                    <th>Descripción</th>
                    <th>Modificar</th>
                    <th>Eliminar Perrito</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form action="{% url 'editar_perrito' unico_perrito.id %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <td>
                            <div >
                                {% if unico_perrito.imagen %}
                                <img src="{{ unico_perrito.imagen.url }}" alt="Imagen de {{ unico_perrito.nombre }}" 
                                     class="img-thumbnail" style="width: 100%; height: 100%; object-fit: cover;">
                                {% else %}
                                <img src="{% static 'images/default.png' %}" alt="Sin imagen disponible" 
                                     class="img-thumbnail" style="width: 100%; height: 100%; object-fit: cover;">
                                {% endif %}
                            </div>
                            
                        </td>
                        <td><input type="text" name="nombre" value="{{ unico_perrito.nombre }}" class="form-control"></td>
                        <td><input type="number" name="edad" value="{{ unico_perrito.edad }}" class="form-control"></td>
                        <td>
                            <select name="tamano" class="form-control" required>
                                <option value="pequeño" {% if unico_perrito.tamano == "pequeño" %}selected{% endif %}>Pequeño</option>
                                <option value="mediano" {% if unico_perrito.tamano == "mediano" %}selected{% endif %}>Mediano</option>
                                <option value="grande" {% if unico_perrito.tamano == "grande" %}selected{% endif %}>Grande</option>
                            </select>
                        </td>
                        <td>
                            <select name="nivel_energia" class="form-control" required>
                                <option value="baja" {% if unico_perrito.nivel_energia == "baja" %}selected{% endif %}>Baja</option>
                                <option value="alta" {% if unico_perrito.nivel_energia == "alta" %}selected{% endif %}>Alta</option>
                            </select>
                        </td>
                        <td>
                            <select name="es_adopcion_doble" class="form-control">
                                <!-- Opción "Ninguno" -->
                                <option value="" {% if not unico_perrito.es_adopcion_doble %}selected{% endif %}>Ninguno</option>
                        
                                <!-- Lista de otros perritos para selección -->
                                {% for otro_perrito in perritos %}
                                {% if otro_perrito.id != unico_perrito.id %}
                                <option value="{{ otro_perrito.id }}" 
                                        {% if unico_perrito.es_adopcion_doble and unico_perrito.es_adopcion_doble.id == otro_perrito.id %}selected{% endif %}>
                                    {{ otro_perrito.nombre }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <textarea class="form-control" id="input_descripcion" rows="3" name="descripcion" cols="">{{ unico_perrito.descripcion }}</textarea>
                        </td>
                        <td><button type="submit" class="btn btn-primary">Modificar</button></td>
                    </form>
                    <td><a href="{% url 'eliminar_perrito' unico_perrito.id %}" class="btn btn-danger">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    
    <!-- Mostrar la tabla si no hay un único resultado -->
    <div class="table_collapse">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Tamaño</th>
                <th>Energía</th>
                <th>Adopción Doble</th>
                <th>Descripción</th>
                <th>Modificar</th>
                <th>Eliminar Perrito</th>
            </tr>
            </thead>
            <tbody>
                {% for perrito in perritos %}
                <tr>
                    <form action="{% url 'editar_perrito' perrito.id %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <td>
                            {% if perrito.imagen %}
                            <img src="{{ perrito.imagen.url }}" alt="Imagen de {{ perrito.nombre }}" class="img-thumbnail"
                                 id="imagen-preview-{{ perrito.id }}">
                            {% else %}
                            <img src="{% static 'images/default.png' %}" alt="Sin imagen disponible" class="img-thumbnail"
                                 style="width: 100px; height: auto;" id="imagen-preview-{{ perrito.id }}">
                            {% endif %}
                            
                        </td>
                        <td><input type="text" name="nombre" value="{{ perrito.nombre }}" class="form-control"></td>
                        <td><input type="number" name="edad" value="{{ perrito.edad }}" class="form-control"></td>
                        <td>
                            <select name="tamano" class="form-control" required>
                                <option value="pequeño" {% if perrito.tamano == "pequeño" %}selected{% endif %}>Pequeño</option>
                                <option value="mediano" {% if perrito.tamano == "mediano" %}selected{% endif %}>Mediano</option>
                                <option value="grande" {% if perrito.tamano == "grande" %}selected{% endif %}>Grande</option>
                            </select>
                        </td>
                        <td>
                            <select name="nivel_energia" class="form-control" required>
                                <option value="baja" {% if perrito.nivel_energia == "baja" %}selected{% endif %}>Baja</option>
                                <option value="alta" {% if perrito.nivel_energia == "alta" %}selected{% endif %}>Alta</option>
                            </select>
                        </td>
                        <td>
                            <select name="es_adopcion_doble" class="form-control">
                                <option value="" {% if not perrito.es_adopcion_doble %}selected{% endif %}>Ninguno</option>
                                {% for otro_perrito in perritos %}
                                {% if otro_perrito.id != perrito.id %}
                                <option value="{{ otro_perrito.id }}" {% if perrito.es_adopcion_doble and perrito.es_adopcion_doble.id == otro_perrito.id %}selected{% endif %}>
                                    {{ otro_perrito.nombre }}
                                </option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <textarea class="form-control" id="input_descripcion" rows="3" name="descripcion" cols="">
                                {{ perrito.descripcion }}
                            </textarea>
                        </td>
                        <td><button type="submit" class="btn btn-primary">Modificar</button></td>
                    </form>
    
                    <td><a href="{% url 'eliminar_perrito' perrito.id %}" class="btn btn-danger">Eliminar</a></td>
    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" style="text-align: center;">No hay perritos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <h3 class="my-4">Agregar Nuevo Perrito</h3>
    {% include "form_body.html" %}
</div>
<script>
    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("imagen-preview-" + event.target.id.split('-').pop());
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
    }
</script>
{% endblock %}
