{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio Dhermes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Cambiar el color del navbar */
        .navbar-custom {
            background-color: #7fbabe;
        }

        /* Añadir margen superior al contenido para que no quede oculto por el navbar */
        body {
            padding-top: 70px;
        }

        .navbar-logo {
            height: 50px;
            /* Ajusta la altura del logo */
            width: auto;
        }

        .instagram-image {
            width: 100%;
            max-width: 540px;
            /* Ancho máximo de la imagen */
            height: auto;
            display: block;
            margin: 0 auto;
            /* Centrar la imagen */
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container-fluid">
            <img src="{% static 'img/Logo-dhermes-sin-fondo.png' %}" alt="Logo" class="navbar-logo">
            <!-- Aquí se coloca el logo -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Conoce a tu proximo amiguito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto_dhermes">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido de la página -->
    <!-- Carrusel de Bootstrap -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://via.placeholder.com/900x500" class="d-block w-100" alt="Primera imagen">
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/900x500/ff7f7f" class="d-block w-100" alt="Segunda imagen">
            </div>
            {% comment %}
            <div class="carousel-item">
                <img src="https://via.placeholder.com/900x500/77ff77" class="d-block w-100" alt="Tercera imagen">
            </div>
            {% endcomment %}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <!-- embeded de instagram -->
    {% comment %}
    en data-instgrm-permalink tendremos que dinamicamente poner los links de los perritos, que van a
    estar guardados en los modelos {% endcomment %}
    <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/DAZm4XbPg1f"
        data-instgrm-version="14" style="max-width: 540px; width: 100%; margin: 0 auto;">

    </blockquote>






    {% include "scripts_necesarios.html" %}

</body>

</html>