{% extends "base.html" %}
{% load static %}

{% block title %}Voluntariado - Refugio Dhermes{% endblock %}

{% block content %}


<section class="team" id="team">
    <div class="container">
        <div class="team__inner">
            <div class="team__info">
                <h2 class="team__title title anim-items language-team-title"><span>Conoce </span>sus historias</h2>
                <p class="team__text text anim-items language-team-text">Cada perrito en <span> Refugio DHermes</span>
                    tiene un pasado único y una historia de valentía y amor incondicional. Aquí te compartimos sus
                    vivencias, sus momentos difíciles y sus ganas de encontrar un hogar. Explora sus historias y
                    descubre a tu nuevo mejor amigo; ellos están listos para comenzar un nuevo capítulo a tu lado. ❤️
                    <br>
                    <br> <span>Clickea para conocer sus historias completas</span>

            </div>
            <div class="team__slider">
                <div class="team__slider-line">
                    <div class="team__item" data-src="team" onclick="window.location.href=''">
                        <img class="team__item-worker" src="{% static 'img/voluntariado1.jpg' %}"
                            src="{% static 'img/lazy.png' %}" alt="ira creator">

                    </div>
                    <div class="team__item" data-src="team" onclick="window.location.href=''">
                        <img class="team__item-worker" src="{% static 'img/voluntariado2.jpg' %}"
                            src="{% static 'img/lazy.png' %}" alt="snizhanna filmmaker">
                        
                    </div>
                    <div class="team__item" data-src="team" onclick="window.location.href=''">
                        <img class="team__item-worker" src="{% static 'img/voluntariado3.jpg' %}"
                            src="{% static 'img/lazy.png' %}" alt="liana designer">
                       
                    </div>
                    <div class="team__item" data-src="team" onclick="window.location.href=''">
                        <img class="team__item-worker" src="{% static 'img/voluntariado4.jpg' %}"
                            src="{% static 'img/lazy.png' %}" alt="ivan visualizer">
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}