{% extends "base.html" %}
{% load static %}

{% block title %}Voluntariado - Refugio Dhermes{% endblock %}

{% block content %}


<section class="team" id="team">
    <div class="container">
        <div class="team__inner">
            <div class="team__info">
                <h2 class="team__title title anim-items language-team-title"><span>¡Sé un Héroe </span>para Nuestros
                    Peludos: Únete como Voluntario! </h2>
                <p class="team__text text anim-items language-team-text">Únete como <span> voluntario</span>
                     y sé parte de una comunidad que transforma vidas. Con tu tiempo y cariño,
                    puedes hacer la diferencia en la vida de muchos perros que esperan una segunda oportunidad. ¡Juntos,
                    podemos cambiar sus historias 
                     <span>y regalarles un futuro mejor!❤️</span>

            </div>
            <div class="team__slider">
                <div class="team__slider-line">
                    <div class="team__item" data-src="team" onclick="window.location.href=''">
                        <img class="team__item-worker" src="{% static 'img/voluntariado1.jpg' %}"
                            src="{% static 'img/lazy.png' %}" alt="Imagen voluntariado">

                    </div>
                    <div class="team__item" data-src="team" onclick="window.location.href=''">
                        <img class="team__item-worker" src="{% static 'img/voluntariado2.jpg' %}"
                            src="{% static 'img/lazy.png' %}" alt="Imagen voluntariado">

                    </div>
                    <div class="team__item" data-src="team" onclick="window.location.href=''">
                        <img class="team__item-worker" src="{% static 'img/voluntariado3.jpg' %}"
                            src="{% static 'img/lazy.png' %}" alt="Imagen voluntariado">

                    </div>
                    <div class="team__item" data-src="team" onclick="window.location.href=''">
                        <img class="team__item-worker" src="{% static 'img/voluntariado4.jpg' %}"
                            src="{% static 'img/lazy.png' %}" alt="Imagen voluntariado">

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}